* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eef0f5;
    min-height: 100vh;
    line-height: 1.6;
}

a {
    text-decoration: none;
    ;
    color: #111214;
}